<div class="spinner" ng-if="spinner_visible"></div>
<div id="form-song">
  <p>
    Why are you recommending me this song?
  </p>
  <div class="interaction">
    <button ng-show="selectedTrack" type="button" class="btn btn-success" ng-click="visualizePath()">SHOW</button>
    <select ng-show="flag_select" class="form-control" ng-model="selectedSong" ng-options="song.label for song in songList">
        <option disabled="disabled" value="" style="color:darkgray">Choose a song...</option>
    </select>
  </div>
</div>
