// out: ./presentation.css, sourcemap: true, compress: false, libs: nib rupture

pageHeight = 85vh
pageWidth = 25em
topMargin = (100 - pageHeight) / 2

+above('l')
  #page
    height: 100%
    width: 100%
    min-height 0 !important

  #device
    height: pageHeight
    width: pageWidth;
    background: #333;
    border-radius: 2em;
    border 2px solid #333
    box-shadow 1px 1px 8px 3px #656565
    display: inline-block;
    // float: right;
    padding: 5em 0;
    z-index: 99999;
    margin topMargin calc((100% - 25em)/2)

  #app-content
    overflow auto
    height calc(70vh - 190px)
