<div class="spinner" ng-show="spinner_visible"></div>
<div class="container-fluid visualization-container" ng-if="songList.length > 0 && !spinner_visible" style="position:relative">
    <div class="horizontal-align row">
        <div class="endpoint">
            <img class="rdf_img" ng-if="(data_link[0] !=='')" ng-click="inspect(path[0].link)" src="http://ahmadassaf.com/images/posts/rdf.png"
                 alt="RDF Resource Description Framework Icon"/>
            <select id="artist"  class="form-control" ng-change="changeActive(1);" ng-model="artistData.selectedOption" ng-options="artist.name disable when !artist.active for artist in artistData.availableOptions">
                <option selected disabled value="" style="color:darkgray"> Choose an artist...</option>
            </select>
        </div>
    </div>
    <div class="row vertical-align" ng-repeat="p in path" ng-if="(data_link[0] !=='')&& !$first && !$last && drawEnable" >
        <div class="direct-chat-text"  ng-if="$even" ng-style="getStyle(p.positions_colors)" style="border:none">
            <div class="vertical-align" style="width:100%;position:relative;">
                <div class="cent">
                    <img class="rdf_img" ng-click="inspect(p.link)" src="http://ahmadassaf.com/images/posts/rdf.png"
                         alt="RDF Resource Description Framework Icon"/>
                    <span class="res_span"> {{p.label}} </span>
                </div>
            </div>
        </div>

        <div ng-if="$odd" class="vertical-align" style="width:100%;position:relative;">
            <div ng-if="$index < data_link[2]"id="arrow1" class="right">
                <span class="res_span"> {{p.label}} </span>
            </div>
            <div ng-if="$index > data_link[2]"id="arrow2" class="right">
                <span class="res_span"> {{p.label}} </span>
            </div>
        </div>

    </div>
    <div class="horizontal-align row">
        <div class="endpoint">
            <img class="rdf_img" ng-if="(data_link[0] !=='')" ng-click="inspect(path.$$last)" src="http://ahmadassaf.com/images/posts/rdf.png"
                 alt="RDF Resource Description Framework Icon"/>
            <select id="poi" class="form-control" style="text-align-last:center;background-color:#8293ff" ng-change="changeActive(2);" ng-model="poiData.selectedOption" ng-options="poi.name disable when !poi.active  for poi in poiData.availableOptions">
                <option disabled value="" style="color:darkgray">Choose a POI...</option>
            </select>
        </div>
    </div>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

</div>



