<div class="panel panel-default" ng-if="map">
  <div id="map_options">
    <button class="btn btn-default" id="reset_position" ng-show="enableModification" ng-click="disableModification()"><span class="glyphicon glyphicon-record"></span> </button>
    <button class="btn btn-default" id="reset_route" ng-show="enableDirections" ng-click="disableDirections()"> <span class="glyphicon glyphicon-road"></span> </button>
  </div>
  <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom" draggable="true" ng-mousedown="userModification()" style="z-index:-1;">
    <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onClickMarker">
    </ui-gmap-markers>
  </ui-gmap-google-map>

  <div ng-if="noSharedPosition">You should share your position to use the app</div>

  <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>

</div>


<div style="visibility: hidden">
  <div class="md-dialog-container" style="background-color: background-color: #1ecc5c" id="myDialogMap">
    <md-dialog aria-label="Marker Info">
      <div style="background-color: #1ecc5c;">
        <div class="iw-container-search">
          <div class="iw-title-search" style="widht:100%;text-align:center;background-color: #1ecc5c;height:auto">
            <h4 style="color:white;vertical-align:middle">{{model_title}}</h4>
          </div>
          <div class="iw-content-search">
            <ul>
              <li ng-repeat="song in model_songList">
                <a ng-click="showPath(song)" style="cursor:pointer">{{ song.label }}</a>
              </li>
            </ul>
          </div>
          </br>
          <button type="button" style="position:absolute; bottom:0px;right:0px;" class="btn btn-success" ng-click="getDirections()"><span class="glyphicon glyphicon-road"></span></button>
        </div>
      </div>
    </md-dialog>
  </div>
</div>
