<div class="spinner" ng-if="!map"></div>
<div class="warning" ng-show="map && !userLocation.gps">
  <i class="mdi mdi-alert-circle"></i>
  It seems that
  <span ng-show="userLocation.err">I cannot access to your location now.</span>
  <span ng-hide="userLocation.err">you are outside Nice.</span>
  We set your position to Nice center to let you enjoy our app ;)
</div>

<div ng-if="map" id="map">
  <div id="map_options">
    <button class="btn btn-default" id="reset_Nice" ng-click="centerToNice()"> <span> Nice </span> </button>
    <button class="btn btn-default" id="reset_route" ng-show="enableDirections" ng-click="disableDirections()"> <span class="mdi mdi-directions"></span> </button>
    <button class="btn btn-default" id="reset_position" ng-show="mapGrabbed" ng-click="resetPosition()"><span class="mdi mdi-crosshairs-gps"></span> </button>
  </div>
  <ui-gmap-google-map control="map.control" options="map.options" center="map.center" zoom="map.zoom" draggable="true" ng-mousedown="grabMap()" style="z-index:-1;">
    <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="onClickMarker">
    </ui-gmap-markers>
  </ui-gmap-google-map>


  <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>

</div>


<div style="visibility: hidden">
  <div class="md-dialog-container" id="myDialogMap">
    <md-dialog aria-label="Marker Info">
      <div style="background-color: #009889;">
        <div class="iw-container-search">
          <div class="iw-title-search">
            <h4 style="color:white;vertical-align:middle">{{model_title}}</h4>
          </div>
          <div class="iw-content-search">
            <ul>
              <li ng-repeat="song in model_songList">
                <a>{{ song.label }}</a>
              </li>
            </ul>
          </div>
          <div class="dialog-options">
            <form style="display:inline-block">
              <button type="button"  class="btn btn-success" ng-click="switchPlaylist()"><span class="glyphicon glyphicon-music"></span></button>
            </form>
            <form style="display:inline-block">
              <button type="button" class="btn btn-success" ng-click="getDirections('DRIVING')"><span class="mdi mdi-car"></span></button>
            </form>

            <form style="display:inline-block">
              <button type="button" class="btn btn-success" ng-click="getDirections('WALKING')"><span class="mdi mdi-walk"></span></button>
            </form>

          </div>

        </div>
      </div>
    </md-dialog>
  </div>
</div>
