.angular-google-map-container {
    top:100px;
    background-color: #edf5e9;
    bottom: 80px;
    left: 0;
    right: 0;
    position: absolute;
    color:black;
}
.iw-container-search{
    background-color: white;
}

.iw-title-search{
    widht:100%;text-align:center;height:auto;
}
.iw-content-search{
    padding:5px;
}

#map_options{
    position:absolute;
    top:110px;
    left:3px;
    max-width:200px;
    background-color: transparent;
    pointer-events:none;
    z-index:1;

}

#reset_Nice{
    height:30px;
    background:white;
    pointer-events:all;
}

#reset_position{
    height:30px;
    background:white;
    pointer-events:all;
}

#reset_route{
    height:30px;
    background:white;
    pointer-events:all;
}
